/*CSS reset settings here*/
#vertNav{
	 background-color: #1a9fed;
	 padding-bottom: 10px;

}
#HortNav{
	 background-color: #1a9fed;
	 padding-bottom: 10px;
	 display: inline-block;
	 margin-top: 10px;
	 text-align: center;

}
li{
 font-size: 32px;
 color: white;
 display: inline;
}
.HNav a{
font-size: 32px;
 color: white;
 display: block;
 margin: 5px;	
}
a{
	color: white;
	text-decoration: none;
	margin: 0px 10px;
}
